<ol id='menu-id-articles-0' class='menu menu-level0 show '>
  <li id='menu-item-articles-1' class='menu-item '>
    <span class='menu-item-row'><a href='/RibbonControl/articles/' class='menu-link  '>Articles</a></span>  </li>
  <li id='menu-item-articles-2' class='menu-item '>
    <span class='menu-item-row'><a href='/RibbonControl/articles/getting-started/' class='menu-link  '>Getting Started</a><a href='#menu-id-articles-2' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-articles-2' class='menu-link-show collapsed'></a></span>  <ol id='menu-id-articles-2' class='menu menu-level1 collapse '>
    <li id='menu-item-articles-3' class='menu-item '>
      <span class='menu-item-row'><a href='/RibbonControl/articles/getting-started/overview/' class='menu-link  '>Overview</a></span>    </li>
    <li id='menu-item-articles-4' class='menu-item '>
      <span class='menu-item-row'><a href='/RibbonControl/articles/getting-started/installation/' class='menu-link  '>Installation</a></span>    </li>
    <li id='menu-item-articles-5' class='menu-item '>
      <span class='menu-item-row'><a href='/RibbonControl/articles/getting-started/quickstart-xaml/' class='menu-link  '>Quickstart: XAML</a></span>    </li>
    <li id='menu-item-articles-6' class='menu-item '>
      <span class='menu-item-row'><a href='/RibbonControl/articles/getting-started/quickstart-mvvm/' class='menu-link  '>Quickstart: MVVM</a></span>    </li>
  </ol>
  </li>
  <li id='menu-item-articles-7' class='menu-item '>
    <span class='menu-item-row'><a href='/RibbonControl/articles/concepts/' class='menu-link  '>Concepts</a><a href='#menu-id-articles-7' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-articles-7' class='menu-link-show collapsed'></a></span>  <ol id='menu-id-articles-7' class='menu menu-level1 collapse '>
    <li id='menu-item-articles-8' class='menu-item '>
      <span class='menu-item-row'><a href='/RibbonControl/articles/concepts/control-model/' class='menu-link  '>Control Model</a></span>    </li>
    <li id='menu-item-articles-9' class='menu-item '>
      <span class='menu-item-row'><a href='/RibbonControl/articles/concepts/runtime-state-and-persistence/' class='menu-link  '>Runtime State and Persistence</a></span>    </li>
  </ol>
  </li>
  <li id='menu-item-articles-10' class='menu-item '>
    <span class='menu-item-row'><a href='/RibbonControl/articles/guides/' class='menu-link  '>Guides</a><a href='#menu-id-articles-10' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-articles-10' class='menu-link-show collapsed'></a></span>  <ol id='menu-id-articles-10' class='menu menu-level1 collapse '>
    <li id='menu-item-articles-11' class='menu-item '>
      <span class='menu-item-row'><a href='/RibbonControl/articles/guides/backstage-topbar-and-qat/' class='menu-link  '>Backstage, Top Bar, and QAT</a></span>    </li>
    <li id='menu-item-articles-12' class='menu-item '>
      <span class='menu-item-row'><a href='/RibbonControl/articles/guides/adaptive-layout/' class='menu-link  '>Adaptive Layout</a></span>    </li>
    <li id='menu-item-articles-13' class='menu-item '>
      <span class='menu-item-row'><a href='/RibbonControl/articles/guides/samples/' class='menu-link  '>Samples</a></span>    </li>
  </ol>
  </li>
  <li id='menu-item-articles-14' class='menu-item '>
    <span class='menu-item-row'><a href='/RibbonControl/articles/xaml/' class='menu-link  '>XAML Usage</a><a href='#menu-id-articles-14' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-articles-14' class='menu-link-show collapsed'></a></span>  <ol id='menu-id-articles-14' class='menu menu-level1 collapse '>
    <li id='menu-item-articles-15' class='menu-item '>
      <span class='menu-item-row'><a href='/RibbonControl/articles/xaml/theme-usage-and-resources/' class='menu-link  '>Theme Usage and Resources</a></span>    </li>
    <li id='menu-item-articles-16' class='menu-item '>
      <span class='menu-item-row'><a href='/RibbonControl/articles/xaml/icon-and-content-customization/' class='menu-link  '>Icons and Content Customization</a></span>    </li>
  </ol>
  </li>
  <li id='menu-item-articles-17' class='menu-item '>
    <span class='menu-item-row'><a href='/RibbonControl/articles/advanced/' class='menu-link  '>Advanced</a><a href='#menu-id-articles-17' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-articles-17' class='menu-link-show collapsed'></a></span>  <ol id='menu-id-articles-17' class='menu menu-level1 collapse '>
    <li id='menu-item-articles-18' class='menu-item '>
      <span class='menu-item-row'><a href='/RibbonControl/articles/advanced/testing-and-release/' class='menu-link  '>Testing and Release</a></span>    </li>
  </ol>
  </li>
  <li id='menu-item-articles-19' class='menu-item '>
    <span class='menu-item-row'><a href='/RibbonControl/articles/reference/' class='menu-link  '>Reference</a><a href='#menu-id-articles-19' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-articles-19' class='menu-link-show collapsed'></a></span>  <ol id='menu-id-articles-19' class='menu menu-level1 collapse '>
    <li id='menu-item-articles-20' class='menu-item '>
      <span class='menu-item-row'><a href='/RibbonControl/articles/reference/package-overview/' class='menu-link  '>Package Overview</a></span>    </li>
    <li id='menu-item-articles-21' class='menu-item '>
      <span class='menu-item-row'><a href='/RibbonControl/articles/reference/docs-pipeline/' class='menu-link  '>Docs Pipeline</a></span>    </li>
    <li id='menu-item-articles-22' class='menu-item '>
      <span class='menu-item-row'><a href='/RibbonControl/articles/reference/license/' class='menu-link  '>License</a></span>    </li>
  </ol>
  </li>
</ol>
